/{
aliases{
	wateralias = &watersensor;
};
};

&uart0 {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;
		watersensor: water {
		compatible = "water";
		status = "okay";
};
};

&uart1 {
    status = "okay";
    current-speed = <115200>;
};

