menuconfig WATER
    bool "Water Sensor Node"
    help
        Enable the Water Sensor Node.

if WATER

config WATER_UART_DEV_NAME
    string "UART device name"
    default "UART_0"
    help
        Specify the UART device name on the main system to be used for
        communication with the Water Sensor Node.

config WATER_UART_BAUD_RATE
    int "UART baud rate"
    default 115200
    help
        Set the baud rate for UART communication with the Water Sensor Node.
        This baud rate must match the configuration on the sensor node side
        for proper communication.


endif # WATER
choice
	prompt "WATER oversampling"
	default WATER_OVER_2X
	help
	  Select time oversampling for the WATER sensors.  Higher values
	  lead to more accurate readings, but higher power consumption.
config WATER_OVER_1X
	bool "x1"
config WATER_OVER_2X
	bool "x2"
config WATER_OVER_4X
	bool "x4"
config WATER_OVER_8X
	bool "x8"
config WATER_OVER_16X
	bool "x16"
endchoice

choice
	prompt "WATER resolution"
	default WATER_RES_1X
	help
	  Select resolution for the WATER sensor.  Higher values
	  lead to more accurate readings, but higher power consumption.
config WATER_RES_1X
	bool "x1"
config WATER_RES_2X
	bool "x2"
endchoice
